<%-include("partials/header")%>
    <div class="app-wrap">
      <header>
        <form action='/results' method='GET'>
        <input
          type="text"
          name='city'
          autocomplete="off"
          class="search-box"
          placeholder="Search for a city....."
        />
      <button class='btn' type="submit">Search</button></form>
      </header>
      <main>
        <%if(error == null ){%>
        <section class="location">
          <div class="city"><%=data.name%></div>
          <div class="date">Tuesday 25 August 2020</div>
        </section>
        <div class="current">
          <div class="temp"><%=data.main.temp -273%> <span&#8451;C</span></div>
          <div class="weather"><%=data.weather.description%></div>
          <div class="hi-low"><%=data.main.temp_min -273%>&#8451;/<%=data.main.temp_max -273%>&#8451;</div>
        </div>
        <%}else{%>
          <div class='city'><%=error%></div>
        <%}%>
      </main>
    </div>
    <!--<script src="app.js"></script>-->

    <%-include("partials/footer")%>