<%-include("partials/header")%>
<div class="app">

  <%if(error == null ){%>

  <div class="app-temp">
    <span class="app-temp-temp"><%=parseInt(data.main.temp -273)%></span>
    <span class="app-temp-celsius">&#8451; </span>
  </div>

  <div class="now">
    <div class="city">
      <div class="city-icon"><img src='/stylesheets/img/location.png' alt=""></div>
      <div class="city-name"><%=data.name%></div>
    </div>

    <div class="weather">
      <div class="weather-icon"><img src='/stylesheets/img/weather.png' alt=""></div>
      <div class="weather-disc"><%=data.weather[0].description%></div>

    </div>
  </div>

  <%}else{%>
  <div class='city'>
    <%=error%>
  </div>
  <%}%>
  <div class="S">
    <form action='/results' method='GET' class='S-search'>
        <input type="text" name='city' autocomplete="off" class="S-search-box" placeholder="Search for a city" />
        <button class='S-search-btn' type="submit">Search</button>
    </form>
  </div>

  

</div>
    <!--<script src="app.js"></script>-->

<%-include("partials/footer")%>