<%-include("partials/header")%>
<div class="app-wrap">

  <%if(error == null ){%>

  <div class="temp">
    <span class="temp-temp"><%=parseInt(data.main.temp -273)%></span>
    <span class="temp-celsius">&#8451; </span>
  </div>

  <div class="now">
    <div class="city">
      <%=data.name%>
    </div>

    <div class="weather">
      <%=data.weather[0].description%>
    </div>
  </div>

  <%}else{%>
  <div class='city'>
    <%=error%>
  </div>
  <%}%>

  <form action='/results' method='GET' class='search'>
      <input type="text" name='city' autocomplete="off" class="search-box" placeholder="Search for a city....." />
      <button class='btn' type="submit">Search</button>
  </form>

</div>
    <!--<script src="app.js"></script>-->

<%-include("partials/footer")%>